@import '../../../styles/vars';
@import '../../../styles/mixins';

.intro {
  position: relative;
  @include bg(calc(100vh - #{$nav-height}));
  color: var(--white);
  font-family: var(--lato-font);
  min-height: calc(100vh - #{$nav-height});
  font-size: 2em;
  z-index: 2;
  &__name {
    color: var(--primary);
    @include linear-gradient-text(var(--third), var(--primary));
  }

  &__text {
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5em;
    i {
      font-family: Palatino, Georgia, Times New Roman, Times, serif;
      font-weight: 300;
    }

    span:not(.intro__name) {
      font-family: 'Courier New', Courier, monospace;
      letter-spacing: 0.5px;
    }
  }
}
