@import '../../../styles/vars';

.bg {
  position: fixed;
  background-image: url(https://yasio.pl/assets/img/a5d79c8.webp);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  min-height: calc(100vh - #{$nav-height} );
  width: 100%;
  filter: grayscale(1) brightness(150%);
  z-index: 0;
}

.intro {
  position: relative;
  color: var(--white);
  font-family: var(--roboto-font);
  font-weight: 900;
  display: flex;
  align-items: center;
  min-height: calc(100vh - #{$nav-height} );
  padding: 0px 20%;
  font-size: 2em;
  z-index: 1;
  &__name {
    color: var(--primary);
  }
  &__skill {
    color: var(--secondary);
  }
  h2 {
    line-height: 1.5em;
    font-family: var(--lato-font);
    span {
      font-family: Roboto Mono, Courier New, Courier, monospace !important;
    }
  }
  i {
    font-family: Palatino, Georgia, Times New Roman, Times, serif;
    font-weight: 300;
  }
}
