.content {
  position: relative;

  &__timeline {
    position: absolute;
    left: -10px;
    width: 1px;
    top: 25vh;
    height: 100vh;
    z-index: 9;
    background-color: var(--third);
    &--alt {
      top: 0;
      height: 100%;
    }
  }

  &__bullet {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -4px;
      top: 0;
      z-index: 10;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      border: 2px solid var(--third);
      background-color: var(--dark);
    }

    &--alt {
      top: 48px;
    }
  }

  &__section-label {
    position: relative;
    &:before {
      content: attr(data-label);
      position: absolute;
      left: 12px;
      top: -12px;
      width: auto;
      font-size: 20px;
    }
  }
}
