<div class="code">
  <ng-template *ngTemplateOutlet="recursiveListTmpl; context: { list: about }"></ng-template>

  <ng-template #recursiveListTmpl let-x="index" let-list="list">
    <ng-template ngFor let-obj let-wrap="false" [ngForOf]="list">
      <div class="code__line" [attr.data-line-nr]="obj.line">
        <ng-template ngFor let-chunk [ngForOf]="obj.item">
          <ng-template [ngIf]="chunk.type !== null" [ngIfElse]="altChunk">
            <span [ngClass]="'code__' + chunk.type">{{ chunk.str }}</span>
          </ng-template>
          <ng-template #altChunk>
            {{ chunk.str }}
          </ng-template>
        </ng-template>
        <ng-template [ngIf]="obj.item.length === 0"> &nbsp; </ng-template>
      </div>
      <ng-template [ngIf]="obj.children && obj.children.length > 0">
        <ng-template *ngTemplateOutlet="recursiveListTmpl; context: { list: obj.children }"></ng-template>
      </ng-template>
    </ng-template>
  </ng-template>
</div>
