canvas {
  width: 100%;
  height: 100%;
}

.work_section {
  position: relative;
  background-color: var(--theme-work_bg);
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url('/assets/images/work_bg.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
}
