@import '../../../styles/mixins';

.layout {
  &__logo {
    @include linear-gradient-text(var(--theme-primary), var(--theme-third));
    font-size: 48px;
    line-height: 48px;
    font-weight: 900;
    font-family: var(--theme-lato-font);
    color: var(--theme-secondary);
    text-decoration: none;

    display: inline-block;
    padding: 0px 5px;
    user-select: none;
    position: relative;
    span {
      @include linear-gradient-text(var(--theme-primary), var(--theme-secondary));
      color: var(--theme-secondary);
      position: absolute;
      top: 0px;
      left: 50%;
      // transform: translate(-50%);
    }
  }
}
