<div class="row justify-content-center my-5">
  <div class="col-md-6">
    <h3>{{ post ? 'Edit Post' : 'Create Post' }}</h3>
    <form
      class="form-horizontal"
      [formGroup]="editPostFrom"
      #postForm="ngForm"
      name="postForm"
      (ngSubmit)="onSavePost()"
      novalidate
    >
      <div class="row form-group form__group">
        <div class="col-12">
          <label for="">Img</label>
          <input type="file" class="form-control form__control" formControlName="img" name="" id="" />
        </div>
      </div>
      <div class="row form-group form__group">
        <div class="col-12">
          <label for="">Link</label>
          <input type="text" class="form-control form__control" formControlName="link" name="" id="" />
        </div>
      </div>
      <div class="row form-group form__group">
        <div class="col-12">
          <label for="">Title</label>
          <input type="text" class="form-control form__control" formControlName="title" name="" id="" />
        </div>
      </div>
      <div class="row form-group form__group">
        <div class="col-12">
          <label for="">Body</label>
          <textarea
            class="form-control form__control"
            formControlName="body"
            name=""
            id=""
            cols="30"
            rows="10"
          ></textarea>
        </div>
      </div>
      <div class="row form-group form__group">
        <div class="col-12">
          <button type="submit" class="btn btn-md btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
