$fonts: (
  'lato': 'Lato',
  'roboto': 'Roboto Condensed',
);

$theme: (
  'primary': #00e7ff,
  'secondary': #f205e2,
  'third': #6a82f2,
  'dark-grey': #1d1d1d,
  'dark': #191919,
  'green': #05f22e,
);

$code: (
  'main': #e563da,
  'bg': #272821,
  'line-num': #878c89,
  'text': #ffffff,
  'method': #f205e2,
  'propname': #05f22e,
  'comment': #78707e,
  'reserved': #00e7ff,
  'dot': #44463f,
  'ref': #ffa600,
  'str': #e1d550,
  'num': #a372f8,
);

$gradients: (
  'blue': linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed),
  'green': linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673),
  'red': linear-gradient(to right, #f205e2, #ef5ef1, #d14ee1, #df37e2),
);

$nav-height: 68px;

:root {
  @each $class, $color in $theme {
    --#{$class}: #{$color};
  }
  @each $class, $color in $code {
    --#{$class}-code: #{$color};
  }
  @each $class, $font in $fonts {
    --#{$class}-font: #{$font};
  }
  @each $class, $gradient in $gradients {
    --#{$class}-grd: #{$gradient};
  }
}
