@import '../../../styles/vars';
$pad: 2%;
.section {
  position: relative;
  color: var(--white);
  font-family: var(--lato-font);
  min-height: 100vh;
  font-size: 2em;
  z-index: 2;
  border-top: 1px dotted red;
  &__container {
    padding-top: 80px;
  }

  &.intro {
    min-height: calc(100vh - #{$nav-height});
  }

  // &.about {
  //   > div {
  //     background-color: #272821;
  //   }
  // }
}
