@import '../../../styles/vars';
$pad: 2%;
.section {
  position: relative;
  color: var(--bs-white);
  font-family: var(--theme-lato-font);
  min-height: 100vh;
  font-size: 2em;
  z-index: 2;
  // border-top: 1px dotted red;
  &__container {
    padding-top: 80px;
    position: relative;
    min-height: 100vh;
  }

  &.intro {
    min-height: calc(100vh - #{$nav-height});
  }

  &.contact {
    min-height: 0px;
    .section__container {
      min-height: 0px;
    }
  }
}
