<section class="section {{ title }} row">
  <div class="col-xs-12">
    <div class="content">
      <div class="content__timeline" [ngClass]="{ 'content__timeline--alt': !startingblock }">
        <span class="content__bullet" [ngClass]="{ 'content__bullet--alt': !startingblock }">
          <div class="content__section-label" [attr.data-label]="sectionTitle"></div>
        </span>
      </div>
      <div class="section__container" [ngClass]="{ 'py-0': startingblock }">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</section>
