<section class="findMe">
    <div class="findMe__wrapper">
        <div>
            <h3>Find me on:</h3>
        </div>
        <div class="findMe__links">
            <div>
                <p>
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/Cheshire89" target="_blank"
                        >github.com/Cheshire89</a
                    >
                </p>
            </div>
            <div>
                <p>
                    <i class="fab fa-linkedin"></i>
                    <a
                        href="https://www.linkedin.com/in/aleksandr-a-antonov/"
                        target="_blank"
                        >in/aleksandr-antonov</a
                    >
                </p>
            </div>
            <div>
                <p>
                    <i class="fas fa-at"></i>
                    <a href="mailto:antonov.a.aleksandr@gmail.com"
                        >antonov.a.aleksandr&#64;gmail.com</a
                    >
                </p>
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <app-resume-footer></app-resume-footer>
</section>
