<div class="row justify-content-center">
  <div class="col-md-8">
    <section class="row my-5">
      <div class="col-md-4" *ngFor="let post of posts" [routerLink]="[post.link]">
        <div class="card">
          <img src="https://via.placeholder.com/600x380.png?text=Image+Placeholder" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <div class="d-flex justify-conetent-between">
              <span>{{ post.createdAt | date }}</span> / By&nbsp;<span>{{ post.author }}</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
