.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--dark-grey);
  box-shadow: 0px 7px 7px 5px var(--dark);

  &__brand {
    font-size: 48px;
    font-weight: 900;
    font-family: var(--lato-font);
    text-decoration: none;
    color: var(--primary);
    text-shadow: 2px 2px var(--primary);
    span {
      color: var(--secondary);
      text-shadow: 2px 2px var(--secondary);
    }
  }
  &__nav {
    list-style: none;
  }
  &__item {
    display: inline-block;
    margin: 0px 0.5em;
  }
  &__link {
    position: relative;
    font-family: var(--roboto-font);
    font-weight: 700;
    font-size: 1.5em;
    color: var(--primary);
    text-decoration: none;
  }
}
