<nav class="navbar">
  <a href="" class="navbar__brand" title="Aleksandr Antonov Intro">AA</a>
  <ul class="navbar__nav">
    <li class="navbar__item">
      <a href="#" class="navbar__link text--code">Intro</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link text--code">Projects</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link text--code">Skills</a>
    </li>
    <li class="navbar__item">
      <a href="#" class="navbar__link text--code">Contact</a>
    </li>
  </ul>
</nav>
