$offset: 50px;
$word-spacing: 5px;
.code {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-code);
  background-color: var(--bg-code);
  min-width: 750px;
  white-space: nowrap;
  @media screen and (max-width: 990px) {
    margin-left: $offset;
  }

  &__container {
    // width: calc(100%);
    overflow-x: auto;
    width: calc(100% + #{$offset});
    padding-left: 50px;
    margin-left: -50px;
  }
  &__line {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:before {
      transition: all 0.2s ease-in-out;
    }
    &:after {
      content: attr(data-line-nr);
      position: absolute;
      width: 35px;
      left: -#{$offset};
      color: var(--line-num-code);
      font-family: Roboto Mono, Courier New, Courier, monospace !important;
      font-size: 16px;
      line-height: 1.6;
      z-index: 3;
      top: 0;
      text-align: right;
      background-color: var(--bg-code);
      padding: 0px 40px 0px 10px;
      z-index: 100;
      @media screen and(max-width: 990px) {
        left: -#{$offset}px;
      }
    }

    &:hover {
      &:before {
        content: '';
        height: 100%;
        width: 101vw;
        background-color: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 0px;
        left: -22vw;
        z-index: 120;
      }
    }

    .code {
      &__method {
        margin-right: $word-spacing;
        // &:not(:first-child) {
        //   margin: 0px 5px;
        // }
      }
      &__propname {
        margin-right: $word-spacing;
        &:not(:first-child) {
          margin: 0px $word-spacing;
        }
      }
    }
  }

  &__text {
    color: var(--text-code);
    // margin-right: $word-spacing;
    // + .code {
    //   &__text {
    //     margin-right: 0px !important;
    //   }
    // }
  }

  &__method {
    color: var(--method-code);
  }

  &__propname {
    color: var(--propname-code);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0px;
      bottom: 4px;
      background-color: var(--propname-code);
    }

    &--alt {
      margin: 0px !important;
      &:after {
        display: none;
      }
    }
  }

  &__reserved {
    color: var(--primary);
    // + .code {
    //   &__text {
    //     margin-right: $word-spacing;
    //   }
    // }
  }

  &__dot {
    color: var(--dot-code);
    display: inline;
    margin-right: $word-spacing;

    // + .code {
    //   &__reserved {
    //     margin-right: $word-spacing;
    //   }
    // }
  }

  &__ref {
    color: var(--ref-code);
    + .code {
      &__text {
        margin-right: 0px;
      }
    }
  }

  &__str {
    color: var(--str-code);
    &:not(:first-child),
    &:not(:last-child) {
      margin-right: 5px;
    }
    + .code {
      &__text {
        margin-right: $word-spacing;
      }
      &__str {
        margin-right: 5px;
      }
    }
  }

  &__num {
    color: var(--num-code);
  }

  &__comment {
    color: var(--comment-code);
    display: inline;
    &:not(:first-child) {
      margin-right: 5px;
    }
  }
}
