$offset: 50px;
$word-spacing: 5px;
.code {
  font-family: Roboto Mono, Courier New, Courier, monospace !important;
  font-size: 16px;
  line-height: 1.6;
  color: var(--theme-main-code);
  background-color: var(--theme-bg-code);
  width: auto;
  white-space: nowrap;

  &__wrapper {
    // overflow-x: auto;
  }

  &__container {
    overflow-x: auto;
  }

  &__line {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:before {
      transition: all 0.2s ease-in-out;
    }
    &:after {
      content: attr(data-line-nr);
      position: absolute;
      color: var(--theme-line-num-code);
      font-family: Roboto Mono, Courier New, Courier, monospace !important;
      font-size: 16px;
      line-height: 1.6;
      top: 0;
      left: -55px;
      width: 35px;
      padding-right: 20px;
      text-align: right;
      background-color: var(--theme-bg-code);
      z-index: 100;

      @media screen and (max-width: 990px) {
        left: -#{$offset}px;
      }
    }

    &:hover {
      &:before {
        content: '';
        height: 100%;
        width: 300%;
        background-color: #ffffff1a;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 110;
      }
    }

    .code {
      &__method {
        margin-right: $word-spacing;
      }
      &__propname {
        margin-right: $word-spacing;
        &:not(:first-child) {
          margin: 0px $word-spacing;
        }
      }
    }
  }

  &__text {
    color: var(--theme-text-code);
  }

  &__method {
    color: var(--theme-method-code);
  }

  &__propname {
    color: var(--theme-propname-code);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0px;
      bottom: 4px;
      background-color: var(--theme-propname-code);
    }

    &--alt {
      margin: 0px !important;
      &:after {
        display: none;
      }
    }
  }

  &__reserved {
    color: var(--theme-primary);
  }

  &__dot {
    color: var(--theme-dot-code);
    display: inline;
    margin-right: $word-spacing;
  }

  &__ref {
    color: var(--theme-ref-code);
    + .code {
      &__text {
        margin-right: 0px;
      }
    }
  }

  &__str {
    color: var(--theme-str-code);
    z-index: 300;
    &:not(:first-child),
    &:not(:last-child) {
      margin-right: 5px;
    }
    + .code {
      &__text {
        margin-right: $word-spacing;
      }
      &__str {
        margin-right: 5px;
      }
    }

    a {
      text-decoration: none;
      color: tomato;
    }
  }

  &__num {
    color: var(--theme-num-code);
  }

  &__comment {
    color: var(--theme-comment-code);
    display: inline;
    &:not(:first-child) {
      margin-right: 5px;
    }
  }
}
